

body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: {{ background_color }};
    color: {{ color }} ;
}

#main {
    position: absolute;
    top: 35%;
    width: 50%;
    left:25%;
    text-align: center;
}