 
anonymous_enable={{ anonymous_enable }}
chroot_local_user={{ chroot_local_user }}
anon_upload_enable={{ anon_upload_enable }}
listen_ipv6={{ listen_ipv6 }}
listen={{ listen }}
connect_from_port_20={{ connect_from_port_20 }}
xferlog_enable={{ xferlog_enable }}
dirmessage_enable={{ dirmessage_enable }}
local_umask={{ local_umask }}
write_enable={{ write_enable }}
local_enable={{ local_enable }}

 
 

